{% extends "layout.html" %}

{% block body %}

		
	
	
	
	</header><!--/header-->
	
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Hesabınıza Giriş Yapınız</h2>
						<form method="post">
							{% csrf_token %}
							{{form2.as_p}}
							<span>
								<input type="checkbox" class="checkbox"> 
								Beni Hatırla
							</span>
							<button type="submit" class="btn btn-default">Giriş Yap</button>
						</form>
					</div><!--/login form-->
				</div>
				
				<div class="col-sm-1">
					<h2 class="or">veya</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>Hesabınız Bulunmuyor İse Üye Olabilirsiniz</h2>
						<form method="post">
							{% csrf_token %} 
							{{form.as_p}}
							<button type="submit" class="btn btn-default">Kayıt ol</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
	
	
	
	
{% endblock body %}